html::-webkit-scrollbar { 
  display: none; 
}

header a:hover ,header a:focus{
	text-decoration: none;
  color: #fff;
}
.menu-btn {
    position: fixed;
    z-index: 999;
    background-color: #0073B6;
    padding: 1.5% 8% 1.5% 1.7%;
    top: 45px;
    right: 0;
    font-size:1.4em ;
    color: #fff;
}
.menu-btn span{
    font-family: 'zizou-slab-regular';
    font-size: 0.95em;
}
#menu {
  position: fixed;
  color: #fff;
  width: 189px;
  top: 103px;
  right: 0;
  background:#3399FE;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}
header ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
header li a {
  padding: 9px 0 9px 17px;
  color: #fff;
  text-decoration: none;
  transition: all .2s;
  font-family: 'zizou-slab-regular';
  font-size: 1.4em;
  text-align: left;
  border-top: 1px solid rgba(255, 255, 255, 0.4);;
}
header li a:hover,
header li a:focus {
  background: #0073B6;
  color: #fff;
}
.button-wrap{
  height:5px;
  width:32px;
  cursor:pointer;
  margin: 3px;
  display: inline-block;
}
/* on activation */
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
/*menu hamburguer animation*/
.button, .button:before, .button:after{
  height:4px;
  width:22px;
  background-color:#fff;
  transition: .3s ease-in-out;
}
.button:before, .button:after{
  content:'';
  position: absolute;
}
.button:before{
  margin-top: -8px;
}
.button:after{
  margin-top: 8px;
}
.button.open{
  width:29;
  margin-left:10;
}
.button.open:before, .button.open:after{
  width:25px;
  margin-left:-10px;
}
.button.open:before{
  transform:translate(0, 0) rotate(0deg);
}
.button.open:after{
  transform:translate(0, 0) rotate(0deg);
}



/*seccion carreras*/
 .carreras{
 	background-color: #e52323;
 	color: #fff;
 	text-align: center;
 	padding: 58px 32px 9%;
 }

.titulo-videos {
  text-transform: uppercase;
  text-align: left;
  font-size: 42px;
  margin: 0;
  font-family: 'sgothic-bdcap';
  color: white;
  margin-top: 6%;
    margin-bottom: 8%;
    margin-left: 3%;
}

.carreras h2{
 	text-transform: uppercase;
 	text-align: left;
 	font-size: 42px;
 	margin: 0;
 	font-family: 'sgothic-bdcap';
 }
 .carreras h3{
 	  text-transform: uppercase;
    font-size: 42px;
    margin: 0;
    padding: 125px 0 11px 0;
    font-family: 'sgothic-bdcap';
 }
 .carreras img{
 	border-radius: 50%;
 	display: inline-block;
 	width: 87%;
 }
 .carreras h4{
 	font-size: 1.4em;
  font-family: 'zizou-slab-bold';
  font-weight: 900;
  padding-top: 7px;
  letter-spacing: 1px;
  margin-bottom: 84px;
 }

 .pl-full {
      padding-left: 248px !important;
 }

/*secccion campus*/
.campus{
    background-color: #905188;
    padding: 58px 32px 5%;
    color: #fff;
}
.campus h1{
    padding-bottom: 70px;
    margin-top: 0px !important;
    font-family: 'sgothic-bdcap';
}
.campus .col-md-8{
    padding: 0 4%;
}
.campus img{
    width: 49%;
    padding-bottom: 14px;
    padding-left: 10px;
    text-align: center;
    display: inline-block;
}
 .campus .right{
    border-top-right-radius: 100% 100%;
 }
 .campus .left{
    border-top-left-radius: 100% 100%;
 }
 .campus .bleft{
    border-bottom-left-radius: 100% 100%;
 }
 .campus .bright{
    border-bottom-right-radius: 100% 100%;
 }
 .campus p{
    position: absolute;
    font-family: 'zizou-slab-regular';
    font-size:1.3em;
    font-weight: 900;
 }
 .sanisidro{
    top: 39px;
    left: -3px;
 }
 .sanmiguel{
    left: -7px;
    bottom: 36px;
 }
 .monterrico{
    right:12px ;
    top:39px;
 }
 .villa{
    right: 50px;
    bottom: 36px;
 }

/*PORQUE UPC*/

.opacity{
  background-color: rgba(255,255,255, 0.8);
  width: 100%;
  padding: 4% 4% 4% 2%;
  height: 100%;
}
.background{
  background-image: url(../img/porque-upc.jpg);
  height: 100%;
  background-size: cover;
}
.background h1{
  text-transform: uppercase;
  color: #0174DF;
 font-family: 'sgothic-bdcap';
     margin-bottom: 21px;
}
.row .bg-white{
  background-color: white;
  border-radius: 50%;
  padding: 1%;
  border: 2px solid red;
}
.text-center{
  text-align: center;
  /*margin: 5% 7%;*/
}

.bg-black {
  background-color: black; 
}

.minh-768 {
  height: 768px;
}

.ml-21 {
  margin-left: 21px;
}

.pt-135 {
  padding-top: 135px;
}

.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-left: 0;
}
section{
  height: 100%;
  width: 100%;
}

/*LIST IMAGES HOME*/

.porque-upc {
  background-image: url('../img/iconos-menu-03.png');
  height: 107px;
  width: 108px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.porque-upc:active {
  background-image: url('../img/admision5_03.png');
  height: 107px;
  width: 108px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.carreras-icon {
  background-image: url('../img/admision5_05.png');
  height: 109px;
  width: 109px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.carreras-icon:active {
  background-image: url('../img/iconos-menu-05.png');
  height: 109px;
  width: 109px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.nuestro-campus-icon {
  background-image: url('../img/iconos-menu-07.png');
  height: 107px;
  width: 109px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.nuestro-campus-icon:active {
  background-image: url('../img/admision5_07.png');
  height: 109px;
  width: 109px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.videos-icon-home {
  background-image: url('../img/iconos-menu-09.png');
  height: 108px;
  width: 108px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.videos-icon-home:active {
  background-image: url('../img/admision5_09.png');
  height: 108px;
  width: 108px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.inscripcion-icon {
  background-image: url('../img/iconos-menu-11.png');
  height: 108px;
  width: 108px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.inscripcion-icon:active {
  background-image: url('../img/admision5_11.png');
  height: 108px;
  width: 108px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

/* Default tab style */

.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em;
}

/* Nav */
.tabs nav {
  text-align: center;
}

.tabs nav ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 700px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.tabs nav ul li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
}

.tabs nav a span {
  vertical-align: middle;
  font-size: 0.75em;
}

.tabs nav li.tab-current a {
  color: #74777b;
}

.tabs nav a:focus {
  outline: none;
}

/* Icons */
.icon::before {
  z-index: 10;
  display: inline-block;
  margin: 0 0.4em 0 0;
  vertical-align: middle;
  text-transform: none;
  font-weight: normal;
  font-variant: normal;
  font-size: 1.3em;
  font-family: 'stroke7pixeden';
  line-height: 1;
  speak: none;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-upload::before {
  content: "\e68a";
}
.icon-tools::before {
  content: "\e60a";
}
.icon-plane::before {
  content: "\e625";
}
.icon-joy::before {
  content: "\e6a4";
}
.icon-plug::before {
  content: "\e69a";
}
.icon-home::before {
  content: "\e648";
}
.icon-gift::before {
  content: "\e652";
}
.icon-display::before {
  content: "\e65e";
}
.icon-date::before {
  content: "\e660";
}
.icon-config::before {
  content: "\e666";
}
.icon-coffee::before {
  content: "\e669";
}
.icon-camera::before {
  content: "\e66f";
}
.icon-box::before {
  content: "\e674";
}

/* Content */
.content-wrap {
  position: relative;
  background-color: white;
  margin: 2% 0%;
}
.content-wrap section {
  display: none;
  margin: 0 auto;
  padding: 1.5em;
  max-width: 1200px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.content-wrap section.content-current {
  display: block;
}

.content-wrap section p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #3E3D3F;
  line-height: 1.8;
}
.background h3{
  color: #E42322;
  font-family: 'zizou-slab-regular';
  margin-top: 0px;
}

/* Fallback */
.no-js .content-wrap section {
  display: block;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
  display: block;
}

.no-flexbox nav ul li {
  min-width: 15%;
  display: inline-block;
}

@media screen and (max-width: 58em) {
  .tabs nav a.icon span {
    display: none;
  }
  .tabs nav a:before {
    margin-right: 0;
  }
}

.mt-35 {
  margin-top: 35px !important;
}

/*****************************/
/* Circle */
/*****************************/

.tabs-style-circle {
  overflow: visible;
}

.tabs-style-circle nav li::before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
  width: 90px;
  height: 90px;
  border: 2px solid #E42322;
  background-color: white;
  border-radius: 50%;
  content: '';
  opacity: 1;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.tabs-style-circle nav li.tab-current::before {
  background-color: #E42322;
  margin-top: -52;
}
.tabs-style-circle nav li.tab-current img::before{
  color: gray;
}

@media screen and (max-width: 58em) {
  .tabs-style-circle nav li::before {
    margin: -40px 0 0 -40px;
    width: 80px;
    height: 80px;
  }
}

.tabs-style-circle nav li.tab-current::before {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

.tabs-style-circle nav a {
  overflow: visible;
  color: #74777b;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9em;
  line-height: 1.1;
  -webkit-transition: color 0.3s cubic-bezier(0.7,0,0.3,1); 
  transition: color 0.3s cubic-bezier(0.7,0,0.3,1);
}

.tabs-style-circle nav a span {
  display: inline-block;
}

.tabs-style-circle nav a span,
.tabs-style-circle .icon::before {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.7,0,0.3,1);
  transition: transform 0.3s cubic-bezier(0.7,0,0.3,1);
}

.tabs-style-circle nav a:hover,
.tabs-style-circle nav a:focus {
  color: #4a4a4b;
}

.tabs-style-circle nav li.tab-current a {
  color:red;
  text-decoration: none;
}

.tabs-style-circle nav li.tab-current a span {
  -webkit-transform: translate3d(0,4px,0);
  transform: translate3d(0,4px,0);
}

.tabs-style-circle .icon::before {
  display: block;
  margin: 0;
  pointer-events: none;
}

.tabs-style-circle nav li.tab-current .icon::before {
  -webkit-transform: translate3d(0,-4px,0);
  transform: translate3d(0,-4px,0);
}

.icon-tabs {
  width: 52px;
    position: relative;
    left: -30px;
    top: -14px;
}

.tabs-style-circle nav li a  .metodologia {
  background-image: url(../img/icons/_i_conos-04.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  position: relative;
  margin-top: 19px;
  left: 30px;
}

.tabs-style-circle nav li.tab-current a  .metodologia {
  background-image: url(../img/icons/iconos-upc-11.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  position: relative;
  margin-top: 19px;
  left: 30px;
}
.tabs-style-circle nav li a .admision {
  background-image: url(../img/icons/iconos-upc-07.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  position: relative;
  margin-top: 19px;
  left: 30px;
}
.tabs-style-circle nav li.tab-current a  .admision {
  background-image: url(../img/icons/iconos-upc-08.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  position: relative;
  margin-top: 19px;
  left: 30px;
}
.tabs-style-circle nav li a .exigencia-academica {
  background-image: url(../img/icons/_i_conos-02.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  position: relative;
  margin-top: 19px;
  left: 30px;
}
.tabs-style-circle nav li.tab-current a .exigencia-academica {
  background-image: url(../img/icons/iconos-menu_05.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  position: relative;
  margin-top: 19px;
  left: 30px;
}
.tabs-style-circle nav li a .campus-icon {
  background-image: url(../img/icons/iconos-upc-09.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 28px;
  width: 50px;
  position: relative;
  margin-top: 19px;
  left: 30px;
  top: 12px;
}
.tabs-style-circle nav li.tab-current a .campus-icon {
  background-image: url(../img/icons/iconos-upc-10.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 28px;
  width: 50px;
  position: relative;
  margin-top: 19px;
  left: 30px;
  top: 12px;
}
.tabs-style-circle nav li a .globe {
  background-image: url(../img/icons/globe-red.png);
  background-repeat: no-repeat;
    background-size: cover;
  height: 50px;
  width: 50px;
  position: relative;
  margin-top: 19px;
    left: 30px;
}

.tabs-style-circle nav li.tab-current a .globe {
  background-image: url(../img/icons/globe-white.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  position: relative;
  margin-top: 19px;
    left: 30px;
}

.text-align-tabs {
  position: relative;
  left: -16px;
  top: 17px;
  font-family: 'zizou-slab-regular';
}

.top-text-campus {
  top: 39px;
  position: relative;
  left: -16px;
  font-family: 'zizou-slab-regular';
}

.mt-14 {
  margin-top: 14px;
}

.mt-21 {
  margin-top: 21px;
}

.text-black {
  color: black !important;
}

.opacity .content-wrap section {
  height: 290px;
}

.text-sub {
  font-family: 'zizou-slab-bold' !important;
}

/*HOME*/
#banner{
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 470px;
  box-shadow:#777;
  -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    /*filter: shadow(color=#777, direction=135, strength=2);*/
}

.inner {
  height: 100%;
  background: rgba(255,255,255,1);
background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(74%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 74%, rgba(237,237,237,1) 100%);
background: linear-gradient(110deg, rgba(255,255,255,0) 60%, rgba(167,164,157,1) 85%, rgba(174,173,169,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
#banner .text h2{
  color: #fff;
  font-family: 'Slabo 27px', serif;
  margin-top: 18%;
  margin-bottom: 0;
  font-size: 44px;
  margin-left: 59%;
  text-shadow: 1px 1px #777;
  font-family: 'zizou-slab-regular';
  line-height: 0.9;
}
.photo {
  float: right;
  padding: 4%;
  padding-right: 5%;
}
.text{
    padding: 10% 5%;
}
#items{
  background-image: url(../img/trama-triangulos.png);
  background-size: 30% 70%;
  padding: 7%; 
}
.textura{
  background-color: rgba(255, 255, 255,0.5);
}

.iconos p{
  font-family: 'zizou-slab-regular';
  font-size: 15px;
  font-weight: 700;
}

/*VIDEOS*/

.pull-left {
  float: left !important;
}

.minw-130 {
  width: 130px;
}

.text-videos {
  color: #fff;
  text-decoration: none;
 font-family: 'zizou-slab-regular';
}

.videos-bg {
  background-image: url('../img/bg-videos.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 770px;
}

.hoteleria-icon {
  background-image: url('../img/iconos-verdes_10.png');
  height: 107px;
  width: 107px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.hoteleria-icon:active {
  background-image: url('../img/color/admision5_15.png');
  height: 107px;
  width: 108px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.arquitectura-icon {
  background-image: url('../img/iconos-verdes_19.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.arquitectura-icon:active {
  background-image: url('../img/color/admision5_17.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.artes-icon {
  background-image: url('../img/iconos-verdes_musica.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.artes-icon:active {
  background-image: url('../img/color/admision5_10.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.ciencias-salud-icon {
  background-image: url('../img/iconos-verdes_12.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.ciencias-salud-icon:active {
  background-image: url('../img/color/admision5_12.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.humanas-icon {
  background-image: url('../img/iconos-verdes_14.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.humanas-icon:active {
  background-image: url('../img/color/admision5_20.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.comunicaciones-icon {
  background-image: url('../img/iconos-verdes_22.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.comunicaciones-icon:active {
  background-image: url('../img/color/admision5_14.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.derecho-icon {
  background-image: url('../img/iconos-verdes_25.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.derecho-icon:active {
  background-image: url('../img/color/admision5_25.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.disenio-icon {
  background-image: url('../img/iconos-verdes_34.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.disenio-icon:active {
  background-image: url('../img/color/admision5_35.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.economia-icon {
  background-image: url('../img/iconos-verdes_34.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.economia-icon:active {
  background-image: url('../img/color/admision5_35.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.educacion-icon {
  background-image: url('../img/iconos-verdes_38.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.educacion-icon:active {
  background-image: url('../img/color/admision5_40.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.ingenieria-icon {
  background-image: url('../img/iconos-verdes_40.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.ingenieria-icon:active {
  background-image: url('../img/color/admision5_35-11.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.negocios-icon {
  background-image: url('../img/iconos-verdes_42.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.negocios-icon:active {
  background-image: url('../img/color/admision5_45.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.psicologia-icon {
  background-image: url('../img/iconos-verdes_45.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

.psicologia-icon:active {
  background-image: url('../img/color/admision5_47.png');
  height: 107px;
  width: 106px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 7px;
}

#container { 
  overflow: auto;
  -webkit-overflow-scrolling: touch; 
  height: 100%px; 
}

object { 
  width: 100%;
  height: 1000px;
}