html::-webkit-scrollbar { 
  display: none; 
}

header a:hover ,header a:focus{
  text-decoration: none;
  color: #fff;
}
.menu-btn {
    position: fixed;
    z-index: 999;
    background-color: #0073B6;
    padding: 1.5% 8% 1.5% 1.7%;
    top: 45px;
    right: 0;
    font-size:1.4em ;
    color: #fff;
}
.menu-btn span{
    font-family: 'zizou-slab-regular';
    font-size: 0.95em;
}
#menu {
  position: fixed;
  color: #fff;
  width: 189px;
  top: 103px;
  right: 0;
  background:#3399FE;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}
header ul, header li, header li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
header li a {
  padding: 9px 0 9px 17px;
  color: #fff;
  text-decoration: none;
  transition: all .2s;
  font-family: 'zizou-slab-regular';
  font-size: 1.4em;
  text-align: left;
  border-top: 1px solid rgba(255, 255, 255, 0.4);;
}
header li a:hover,
header li a:focus {
  background: #0073B6;
  color: #fff;
}
.button-wrap{
  height:5px;
  width:32px;
  cursor:pointer;
  margin: 3px;
  display: inline-block;
}
/* on activation */
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
/*menu hamburguer animation*/
.button, .button:before, .button:after{
  height:4px;
  width:22px;
  background-color:#fff;
  transition: .3s ease-in-out;
}
.button:before, .button:after{
  content:'';
  position: absolute;
}
.button:before{
  margin-top: -8px;
}
.button:after{
  margin-top: 8px;
}
.button.open{
  width:29;
  margin-left:10;
}

.button.open:before, .button.open:after{
  width:25px;
  margin-left:-10px;
}
.button.open:before{
  transform:translate(0, 0) rotate(0deg);
}
.button.open:after{
  transform:translate(0, 0) rotate(0deg);
}

.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em;
}

/* Nav */
.tabs nav {
  text-align: center;
}

.tabs nav ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.tabs nav ul li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
}

.tabs nav a span {
  vertical-align: middle;
  font-size: 0.75em;
}

.tabs nav li.tab-current a {
  color: #74777b;
}

.tabs nav a:focus {
  outline: none;
}

/* Icons */
.icon::before {
  z-index: 10;
  display: inline-block;
  margin: 0 0.4em 0 0;
  vertical-align: middle;
  text-transform: none;
  font-weight: normal;
  font-variant: normal;
  font-size: 1.3em;
  font-family: 'stroke7pixeden';
  line-height: 1;
  speak: none;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-upload::before {
  content: "\e68a";
}
.icon-tools::before {
  content: "\e60a";
}
.icon-plane::before {
  content: "\e625";
}
.icon-joy::before {
  content: "\e6a4";
}
.icon-plug::before {
  content: "\e69a";
}
.icon-home::before {
  content: "\e648";
}
.icon-gift::before {
  content: "\e652";
}
.icon-display::before {
  content: "\e65e";
}
.icon-date::before {
  content: "\e660";
}
.icon-config::before {
  content: "\e666";
}
.icon-coffee::before {
  content: "\e669";
}
.icon-camera::before {
  content: "\e66f";
}
.icon-box::before {
  content: "\e674";
}

/* Content */
.content-wrap {
  position: relative;
}

.content-wrap section {
  display: none;
  margin: 0 auto;
  padding: 1em 1em 5px 1em;
  max-width: 1200px;
  
}

.content-wrap section.content-current {
  display: block;
}

.content-wrap section p {
  margin: 0;
  padding: 0.75em 0;
  color: rgba(40,44,42,0.05);
  font-weight: 900;
  font-size: 4em;
  line-height: 1;
}

/* Fallback */
.no-js .content-wrap section {
  display: block;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
  display: block;
}

.no-flexbox nav ul li {
  min-width: 15%;
  display: inline-block;
}

@media screen and (max-width: 58em) {
  .tabs nav a.icon span {
    display: none;
  }
  .tabs nav a:before {
    margin-right: 0;
  }
}

/*****************************/
/* Circle */
/*****************************/

.tabs-style-circle {
  overflow: visible;
}

.tabs-style-circle nav li::before {
   /*position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
  width: 120px;
  height: 120px;
  border: 1px solid #2CC185;
  border-radius: 50%;
  content: '';
  opacity: 0;*/
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

@media screen and (max-width: 58em) {
  .tabs-style-circle nav li::before {
    margin: -40px 0 0 -40px;
    width: 80px;
    height: 80px;
  }
}

.tabs-style-circle nav li.tab-current::before {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

.tabs-style-circle nav a {
  text-decoration: none;
  overflow: visible;
  color: #74777b;
  font-weight: 700;
  font-size: 0.9em;
  line-height: 1.1;
  -webkit-transition: color 0.3s cubic-bezier(0.7,0,0.3,1); 
  transition: color 0.3s cubic-bezier(0.7,0,0.3,1);
}

.tabs-style-circle nav a span {
  display: inline-block;
}

.tabs-style-circle nav a span,
.tabs-style-circle .icon::before {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.7,0,0.3,1);
  transition: transform 0.3s cubic-bezier(0.7,0,0.3,1);
}

.tabs-style-circle nav a:hover,
.tabs-style-circle nav a:focus {
  color: #4a4a4b;
}

.tabs-style-circle nav li.tab-current a {
  color: #fff;
  text-decoration: none;
}

.tabs-style-circle nav li.tab-current a span {
  -webkit-transform: translate3d(0,4px,0);
  transform: translate3d(0,4px,0);
}

.tabs-style-circle .icon::before {
  display: block;
  margin: 0;
  pointer-events: none;
}

.tabs-style-circle nav li.tab-current .icon::before {
  -webkit-transform: translate3d(0,-4px,0);
  transform: translate3d(0,-4px,0);
}

.pl-0 {
  padding-left: 0px !important;
}



#facultades{
	background: url('../img/DSC_8227.jpg');
	width: 100%;
	background-size: cover;
	background-position: center;
      height: 768px;
}
.bg-opacity {
	background-color: rgba(0,0,0,0.9);
      height: 768px;
}
.facult{
	color: #fff;
  margin-left: 5%;
  font-family: 'sgothic-bdcap';
  margin-bottom: 4%;
}
.bg-w{
  background: #fff;
    height: 158px;
}
.minh-140 {
	height: 30px;
}
.pd-2{
padding: 3% 1% 0% 5%;
}
.mv-38 {
  margin: 38px 0px !important;
}
.pb-8{
    padding-bottom: 6%;
}
.pt-8{
	padding-top: 6%;
}

.tabs h5{
	margin-right: 37%;
	text-align: center;
	color: #fff;
	text-decoration: none;
 font-family: 'zizou-slab-regular';
}
.content-wrap h4{
	font-size: 20px;
  color: #3C97FF;
  font-family: 'zizou-slab-regular';
  line-height: 1.6;

}
.content-wrap h3{
	margin-left: 2%;
    margin-bottom: 0%;
    color: #0170B5;
    font-family: 'sgothic-bdcap';
    font-size: 30px !important;
}
.content-wrap h3 span{
    font-family: 'zizou-slab-bold';
    font-size: 18px;
}
.content-wrap span{
	color: #3C97FF;
}
.content-wrap hr{
    width: 6%;
    border: solid 1px #0170B5;
    margin-left: 2%;
    margin-top: 0%;
    margin-bottom: 1%;
}

.minh-246 {
  height: 298px;
}



.tabs-style-circle nav li a  .administracion {
	background-image: url("../img/hover/admision5_15.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

.tabs-style-circle nav li.tab-current a  .administracion {
	background-image:url("../img/color/admision5_15.png");
   background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

.tabs-style-circle nav li a  .arquitectura {
	background-image:url("../img/hover/admision5_17.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

.tabs-style-circle nav li.tab-current a  .arquitectura {
	background-image: url("../img/color/admision5_17.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;  
}

.tabs-style-circle nav li a  .arte {
	background-image: url("../img/hover/admision5_10.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

.tabs-style-circle nav li.tab-current a  .arte {
	background-image:url("../img/color/admision5_10.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

.tabs-style-circle nav li a  .salud {
	background-image: url("../img/hover/admision5_12.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

.tabs-style-circle nav li.tab-current a  .salud {
	background-image:url("../img/color/admision5_12.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;  
}

.tabs-style-circle nav li a  .humano {
	background-image: url("../img/hover/admision5_20.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative; 
}

.tabs-style-circle nav li.tab-current a  .humano {
	background-image:url("../img/color/admision5_20.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;  
}

.tabs-style-circle nav li a  .comunicacion {
	background-image: url("../img/hover/admision5_14.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

.tabs-style-circle nav li.tab-current a  .comunicacion {
	background-image:url("../img/color/admision5_14.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

.tabs-style-circle nav li a  .derecho {
	background-image: url("../img/hover/admision5_25.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;     
}

.tabs-style-circle nav li.tab-current a  .derecho {
	background-image:url("../img/color/admision5_25.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

/* row-2*/

.tabs-style-circle nav li a  .diseño {
	background-image: url("../img/hover/admision5_35.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

.tabs-style-circle nav li.tab-current a  .diseño {
	background-image:url("../img/color/admision5_35.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

.tabs-style-circle nav li a  .economia {
	background-image: url("../img/hover/admision5_35-09.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

.tabs-style-circle nav li.tab-current a  .economia {
	background-image:url("../img/color/admision5_35-09.png");
    background-repeat: no-repeat;
	background-size: cover;
	height:85px;
    width: 85px;
    position: relative; 
}

.tabs-style-circle nav li a  .educacion {
	background-image: url("../img/hover/admision5_40.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

.tabs-style-circle nav li.tab-current a  .educacion {
	background-image:url("../img/color/admision5_40.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
  
}

.tabs-style-circle nav li a  .ing {
	background-image: url("../img/hover/admision5_35-11.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

.tabs-style-circle nav li.tab-current a  .ing {
	background-image:url("../img/color/admision5_35-11.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
  
}

.tabs-style-circle nav li a  .negocio {
	background-image: url("../img/hover/admision5_45.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

.tabs-style-circle nav li.tab-current a  .negocio {
	background-image:url("../img/color/admision5_45.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
  
}

.tabs-style-circle nav li a  .psico {
	background-image: url("../img/hover/admision5_47.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
}

.tabs-style-circle nav li.tab-current a  .psico {
	background-image:url("../img/color/admision5_47.png");
    background-repeat: no-repeat;
	background-size: cover;
	height: 85px;
    width: 85px;
    position: relative;
  
}

.mb-21 {
  margin-bottom: 21px !important;
}
.mt-7 {
  margin-bottom: 21px !important;
}

.facultades-list .minh-246 ul li {
  list-style-image: url('../img/eyes.png');
}