/****** SOLANO GOTHIC ******/
    @font-face {
        font-family: 'solano_gothic_mvb_light';
        src: url('../../font/custom/solano/solanogothicmvb-lt-webfont.eot');
        src: url('../../font/custom/solano/solanogothicmvb-lt-webfont.eot?#iefix') format('embedded-opentype'),
             url('../../font/custom/solano/solanogothicmvb-lt-webfont.woff') format('woff'),
             url('../../font/custom/solano/solanogothicmvb-lt-webfont.ttf') format('truetype'),
             url('../../font/custom/solano/solanogothicmvb-lt-webfont.svg#solano_gothic_mvb_light') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'solano_gothic_mvb_probold';
        src: url('../../font/custom/solano/solanogothicmvbprobd-webfont.eot');
        src: url('../../font/custom/solano/solanogothicmvbprobd-webfont.eot?#iefix') format('embedded-opentype'),
             url('../../font/custom/solano/solanogothicmvbprobd-webfont.woff') format('woff'),
             url('../../font/custom/solano/solanogothicmvbprobd-webfont.ttf') format('truetype'),
             url('../../font/custom/solano/solanogothicmvbprobd-webfont.svg#solano_gothic_mvb_probold') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'solano_gothic_mvb_stdbold';
        src: url('../../font/custom/solano/solanogothicmvbstdbd-webfont.eot');
        src: url('../../font/custom/solano/solanogothicmvbstdbd-webfont.eot?#iefix') format('embedded-opentype'),
             url('../../font/custom/solano/solanogothicmvbstdbd-webfont.woff') format('woff'),
             url('../../font/custom/solano/solanogothicmvbstdbd-webfont.ttf') format('truetype'),
             url('../../font/custom/solano/solanogothicmvbstdbd-webfont.svg#solano_gothic_mvb_stdbold') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'solano_gothic_mvb_stdBdcaps';
        src: url('../../font/custom/solano/solanogothicmvbstdbdcap-webfont.eot');
        src: url('../../font/custom/solano/solanogothicmvbstdbdcap-webfont.eot?#iefix') format('embedded-opentype'),
             url('../../font/custom/solano/solanogothicmvbstdbdcap-webfont.woff') format('woff'),
             url('../../font/custom/solano/solanogothicmvbstdbdcap-webfont.ttf') format('truetype'),
             url('../../font/custom/solano/solanogothicmvbstdbdcap-webfont.svg#solano_gothic_mvb_stdBdcaps') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'solano_gothic_mvb_Bdsmallcaps';
        src: url('../../font/custom/solano/solanogothicmvbstdbdsc-webfont.eot');
        src: url('../../font/custom/solano/solanogothicmvbstdbdsc-webfont.eot?#iefix') format('embedded-opentype'),
             url('../../font/custom/solano/solanogothicmvbstdbdsc-webfont.woff') format('woff'),
             url('../../font/custom/solano/solanogothicmvbstdbdsc-webfont.ttf') format('truetype'),
             url('../../font/custom/solano/solanogothicmvbstdbdsc-webfont.svg#solano_gothic_mvb_Bdsmallcaps') format('svg');
        font-weight: normal;
        font-style: normal;
    }
/****** END SOLANO GOTHIC ******/

/****** ZIZOU SLAB ******/
    @font-face {
        font-family: 'ZizouSlab-Bold';
        src: url('../../font/custom/zizou/ZizouSlab-Bold.eot');
        src: url('../../font/custom/zizou/ZizouSlab-Bold.eot?#iefix') format('embedded-opentype'),
             url('../../font/custom/zizou/ZizouSlab-Bold.woff') format('woff'),
             url('../../font/custom/zizou/ZizouSlab-Bold.ttf') format('truetype'),
             url('../../font/custom/zizou/ZizouSlab-Bold.svg#ZizouSlab-Bold') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'ZizouSlab-Light';
        src: url('../../font/custom/zizou/ZizouSlab-Light.eot');
        src: url('../../font/custom/zizou/ZizouSlab-Light.eot?#iefix') format('embedded-opentype'),
             url('../../font/custom/zizou/ZizouSlab-Light.woff') format('woff'),
             url('../../font/custom/zizou/ZizouSlab-Light.ttf') format('truetype'),
             url('../../font/custom/zizou/ZizouSlab-Light.svg#ZizouSlab-Light') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'ZizouSlab-Medium';
        src: url('../../font/custom/zizou/ZizouSlab-Medium.eot');
        src: url('../../font/custom/zizou/ZizouSlab-Medium.eot?#iefix') format('embedded-opentype'),
             url('../../font/custom/zizou/ZizouSlab-Medium.woff') format('woff'),
             url('../../font/custom/zizou/ZizouSlab-Medium.ttf') format('truetype'),
             url('../../font/custom/zizou/ZizouSlab-Medium.svg#ZizouSlab-Medium') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'ZizouSlab-Regular';
        src: url('../../font/custom/zizou/ZizouSlab-Regular.eot');
        src: url('../../font/custom/zizou/ZizouSlab-Regular.eot?#iefix') format('embedded-opentype'),
             url('../../font/custom/zizou/ZizouSlab-Regular.woff') format('woff'),
             url('../../font/custom/zizou/ZizouSlab-Regular.ttf') format('truetype'),
             url('../../font/custom/zizou/ZizouSlab-Regular.svg#ZizouSlab-Regular') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: 'ZizouSlab-Thin';
        src: url('../../font/custom/zizou/ZizouSlab-Thin.eot');
        src: url('../../font/custom/zizou/ZizouSlab-Thin.eot?#iefix') format('embedded-opentype'),
             url('../../font/custom/zizou/ZizouSlab-Thin.woff') format('woff'),
             url('../../font/custom/zizou/ZizouSlab-Thin.ttf') format('truetype'),
             url('../../font/custom/zizou/ZizouSlab-Thin.svg#ZizouSlab-Thin') format('svg');
        font-weight: normal;
        font-style: normal;
    }
/****** END ZIZOU SLAB ******/

/****** UPC ******/

@font-face{ 
    font-family: 'sgothic-bdcap';
    src: url('../../font/custom/upc/upc_sgothic-bdcap-webfont.eot');
    src: url('../../font/custom/upc/upc_sgothic-bdcap-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/custom/upc/upc_sgothic-bdcap-webfont.woff') format('woff'),
         url('../../font/custom/upc/upc_sgothic-bdcap-webfont.ttf') format('truetype'),
         url('../../font/custom/upc/upc_sgothic-bdcap-webfont.svg#../../font/custom/upc/upc_sgothic-bdcap-webfont') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{ 
    font-family: 'sgothic-rgcap';
    src: url('../../font/custom/upc/upc_sgothic-rgcap-webfont.eot');
    src: url('../../font/custom/upc/upc_sgothic-rgcap-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/custom/upc/upc_sgothic-rgcap-webfont.woff') format('woff'),
         url('../../font/custom/upc/upc_sgothic-rgcap-webfont.ttf') format('truetype'),
         url('../../font/custom/upc/upc_sgothic-rgcap-webfont.svg#../../font/custom/upc/upc_sgothic-rgcap-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{ 
    font-family: 'sgothic-stencilcap';
    src: url('../../font/custom/upc/upc_sgothic-stencilcap-webfont.eot');
    src: url('../../font/custom/upc/upc_sgothic-stencilcap-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/custom/upc/upc_sgothic-stencilcap-webfont.woff') format('woff'),
         url('../../font/custom/upc/upc_sgothic-stencilcap-webfont.ttf') format('truetype'),
         url('../../font/custom/upc/upc_sgothic-stencilcap-webfont.svg#../../font/custom/upc/upc_sgothic-stencilcap-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

/****** END UPC ******/